extends layout

block content
    #content.mp
        :markdown
            #httpbin-node(1): HTTP Request & Response Service

            ##ENDPOINTS

            - [/](/) This page.
            - [/ip](/ip) Origin IP.
            - [/headers](/headers) Return header dicts.

            ## EXAMPLES

                $ curl http://ioenv.com/ip
                {"origin": "106.187.39.39"}

            ### Installing and running from your server

            First, clone the repository. Make sure you have NodeJS and npm installed on your machine.

            Then, run `npm install & npm start` in repository dicrectory

            Finally, access `http://localhost:3000` or your server public IP.

            Done.

            ## Author
            A [Jinyu Liu](mailto:simon.jinyu.liu@gmail.com) Project

            ## See Also
            [httpbin](http://httpbin.org)
